body{
    margin: 8px;
}

#overlay-about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-background-escuro);
    z-index: 1000;
    transition: transform .5s ease-in-out;
}

.side-bar{
    color: var(--cor-texto-escuro);
    font-family:var(--fonte-primaria);

    display: flex;
    position: fixed;
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    
    
}

.side-bar__link{
    display: block;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: opacity .3s;

    margin-bottom: 3em;
    

   transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    

}


.side-bar__line{
    display: block;
    
    width: 1px;
    height: 100px;
    background-color: var(--cor-texto-escuro);
    margin-top: 10px;
    margin-bottom: 80px;
    
    
}

.side-bar__link:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: line-through #000;
    
}

.about__container{
    background:var(--cor-background-claro);
    color: var(--cor-texto-escuro);
    display: flex;
    
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
    margin-bottom: 20vh;
}



.about__text-content{
    display: flex;
    flex-direction: column;
}

.about__title{
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    font-size: 14vw;
    line-height: 1em;
    margin: 52px 0 50px;
    
}

.about__subtitle{
    padding-bottom: 2%;
    margin-bottom: 30px;
    margin-right: auto;
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    font-size: 46px;
    max-width: 768px;    
    line-height: 1.3em;
}

.about__text{
    font-family: var(--fonte-primaria);
    max-width: 768px;
    letter-spacing: .5px;
    
    line-height: 2em;
}

.about__text>p{
    margin-bottom: 2em;
    margin-right: 2em;
}

#quote-text{
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.about__profile-image{
    width: 50%;
    margin-top: 2em;
    margin-right: -20%;
    display: block;
    
    
}

.about__text--subtitle{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1em;
}

.resume__link{
    color: var(--cor-texto-claro);
    background: var(--cor-background-escuro);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 22px;
    
    padding: 0.5em 2em;
    border-radius: 4em;
    transition: padding .25s ease-in-out;
}

.resume__link:hover{
    padding: 0.5em 4em;
}