body{
    margin: 8px;
    overflow: hidden;
}

#overlay-home{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-background-escuro);
    z-index: 1000;
    transition: transform .5s ease-in-out;
}

.home__container{
    display: flex;
    
    align-items: center;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
}

.side-bar__home{
    color: var(--cor-texto-escuro);
    font-family:var(--fonte-primaria);

    display: flex;
    position: fixed;
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    
    
}

.side-bar-home__link--container{
   margin-bottom: 4em;
   margin-top: 4em;
}

.side-bar-home__link{
    display: block;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: opacity .3s;
    margin-bottom: 2em;
    

   transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    

}


.side-bar-home__line{
    display: block;
    
    width: 1px;
    height: 100px;
    background-color: var(--cor-texto-escuro);
    margin-top: 2em;
    margin-bottom: 80px;
    
    
}

.side-bar-home__link:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: line-through #000;
    
}


.presentation__container{
    font-family: var(--fonte-primaria);
    display: block;
    flex-direction: column;
    margin-top: 400px;
    margin-right: 100px;
    
}

.presentation__name{
    display: block;
    font-weight: 600;
    margin-bottom: 20px;

}

.presentation__text{
    max-width: 80%;
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 14px;
    line-height: 1.9em;
    position: relative;
    letter-spacing: .5px; 
       
}

.page-links__container{
    margin-top: 50px; 
    
}

.page-links__list--item {
    font-family: var(--fonte-secundaria);
    /* Adiciona uma transição suave de 0.3 segundos para a propriedade font-style */
    transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
    font-family: var(--fonte-secundaria);
    display: block;
    position: relative;
    font-size: 11vw;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--cor-texto-escuro);
    text-align: left;
}

.page-links__list--item:hover{
    font-style: italic;
    transform: translate(5px);
    
}