.home__container{
    display: flex;
    
    align-items: center;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
}

.nav-left__container{
   display: flex;
   margin-top: 5vh;
   border-left: 1px solid var(--cor-texto-escuro);
   padding-left: 10px;
    
    
}

.nav-left__link{
    padding-right: 2vw;
    letter-spacing: 5px;
    font-family: var(--fonte-primaria);
    
    font-size: 12px;
    font-weight: 500;
    transition: opacity .3s;   
    
}

.nav-left__link:hover {
    opacity: 0.7;
}


.presentation__container{
    font-family: var(--fonte-primaria);
    display: block;
    flex-direction: column;
    margin-top: 400px;
    margin-right: 100px;
    
}

.presentation__name{
    display: block;
    font-weight: 600;
    margin-bottom: 20px;

}

.presentation__text{
    max-width: 80%;
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 14px;
    line-height: 1.9em;
    position: relative;
    letter-spacing: .5px; 
       
}

.page-links__container{
    margin-top: 100px; 
    
}

.page-links__list--item {
    font-family: var(--fonte-secundaria);
    /* Adicione uma transição suave de 0.3 segundos para a propriedade font-style */
    transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
    font-family: var(--fonte-secundaria);
    display: block;
    position: relative;
    font-size: 11vw;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--cor-texto-escuro);
    text-align: left;
}

.page-links__list--item:hover{
    font-style: italic;
    transform: translate(5px);
    
}