*{
    background-color: var(--cor-background-escuro);
    color: var(--cor-texto-claro);
}

*::selection{
    background: #eee7e1;
    color: #1a1919;
}

body{
    margin: 8px;

}

#overlay-resume{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-background-claro);
    z-index: 1000;
    transition: transform .5s ease-in-out;
}


.resume__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
    margin-bottom: 10vh;
}

.resume__title{
    font-family: var(--fonte-secundaria);
    font-size: 6vw;
    margin-bottom: 8vh;
}

.resume__subtitle--name{
    font-size: 2vw;
    margin-bottom: 2vh;
    letter-spacing: .5px;
}

.resume__subtitle{
    letter-spacing: .5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.resume__list--text,
.list__text{
    line-height: 1.3em;
    letter-spacing: .5px;
}

.list--subtitle{
    margin-bottom: 2vh;
}

.list__text{
    margin-bottom: 10px;
}

.resume__pdf--link{
    margin-bottom: 2vh;
}

.resume__pdf--link:hover{
    text-decoration-line: line-through;
}