@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('home.css');
@import url('about.css');

:root{
    /* Cores */
    --cor-texto-escuro: #1a1919;
    --cor-texto-claro: #eee7e1;
    --cor-background-claro: #eee7e1;
    --cor-background-escuro: #1a1919;
    

    /* Fontes */
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--cor-background-claro);
    color: var(--cor-texto-escuro);
    list-style: none;
}
*::selection {
    background: #1a1919;
    color: #eee7e1;
}

