*{
    background-color: var(--cor-background-escuro);
    color: var(--cor-texto-claro);
}

*::selection {
    background: var(--cor-background-claro);
    color: var(--cor-texto-escuro);
}

body{
    margin: 8px;
}

.work-main__container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap
}

.work__container,
.work__projects--container {
    flex: 1; /* Faz as duas divs ocuparem uma porção igual do espaço disponível */
    max-width: 50%; /* Garante que cada div tenha no máximo 50% da largura */
    box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no cálculo da largura */
}

.work__container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap
    
}

.work__text--container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.work__title{
    margin-top: 40vh;
    font-family: var(--fonte-secundaria);
    font-size: 10vh;
    margin-bottom: 4vh;
}

.work__text{
    max-width: 500px;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 1em;
}

.work__projects--container{
    margin-top: 10vh;
      
}

.work-projects__list{
    display: block;
}

.work-projects__list--item{
    font-family: var(--fonte-secundaria);
    /* Adiciona uma transição suave de 0.3 segundos para a propriedade font-style */
    transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
    font-family: var(--fonte-secundaria);
    display: block;
    position: relative;
    font-size: 4vw;
    max-width: 40vw;
    line-height: 0.95em;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2vh;
}

.work-projects__list--item:hover{
    font-style: italic;
    transform: translate(5px);
    
}

.projects__list--description{
    letter-spacing: 2px;
    text-transform: uppercase;
    align-self: flex-end;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 4vh;
}